@page
<!-- Linking the ViewTracks class to the HTML File -->
@model Project.Pages.ViewTracks
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Tab name Updates to Album Name -->
        <title>@Model.AlbumName - Chinook</title>
    </head>
    <body>
        <h1>Chinook Console</h1>
        <h2>@Model.Heading</h2> <!-- Displays the page the user is on -->
        <h3>@Model.AlbumName</h3>

        <!-- Creating a bullet point (Unorgenised) List -->
        <ol>
            @foreach (AlbumTrack track in @Model.AlbumTrack){
                //Displays each Track name
                <li>@track.Name</li>
            }
        </ol>

        <!-- Section to add tracks -->
        <h3>Add Artist</h3>
        <form action="~/InsertTrack" method="post">
            @Html.AntiForgeryToken()
            <p>Track Name: <input type="text" name="tbxTrackName" required/></p>
            <p>Media Type:
                <select name="ddmMedia" required>
                    @foreach (MediaType media in @Model.MediaTypes){
                        <option value="@media.MediaTypeId">@media.Name</option>
                    }
                </select>
            </p>
            <p>Genre Type:
                <select name="ddmGenre" required>

                    @foreach (Genre genres in @Model.Genres){
                        <option value="@genres.GenreId">@genres.Name</option>
                    }
                </select>
            </p>
            <p>Composer: <input type="text" name="tbxComposerName"/></p>
            <p>Length (ms): <input type="number" name="tbxLengthName" required/></p>
            <p>Size (bytes): <input type="number" name="tbxSizeName" required/></p>
            <p>Price (GBP): <input type="number" step="0.01" min="0.49" name="tbxPriceName" required/></p>
            <input type="hidden" name="hdnAlbumID" value="@Model._Album[0].AlbumId"/>
            <input type="submit" value="Insert"/>
        </form>
    </body>
</html>