@page
<!-- Linking the ViewAlbums class to the HTML File -->
@model Project.Pages.ViewAlbums
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chinook Console</title>
    </head>
    <body>
        <h1>Chinook Console</h1>
        <h2>@Model.Heading</h2> <!-- Displays the page the user is on -->

        <table border="1">
            <th>Album</th> <th>Artist</th> <th>&nbsp;</th>
            @foreach (ArtistAlbum album in @Model.ArtistAlbums){
                <tr>
                    <td>@album.Title</td>
                    <td>@album.Name</td>
                    <td>
                        <form action="~/Details" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="hdnAlbumID" value="@album.AlbumId"/>
                            <input type="submit" value="Details"/>
                        </form>
                    </td>
                </tr> 
            }
        </table>
    </body>
</html>