@page
<!-- Linking the ViewAlbums class to the HTML File -->
@model Project.Pages.ViewAlbums
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chinook Console</title>
    </head>
    <body>
        <h1>Chinook Console</h1>
        <h2>@Model.Heading</h2> <!-- Displays the page the user is on -->

        <!-- Add Artist and Album Section -->
        <div style="display:flex; ">
            <section>
                <h3>Add Artist</h3>
                <form action="~/Insert/InsertArtist" method="post">
                @Html.AntiForgeryToken()
                    <p>Artist Name: <input type="text" name="tbxArtistName" required/></p>
                    <input type="submit" value="Insert"/>
                </form>
            </section>

            <section>
                <h3>Add Album</h3>
                <form action="~/Insert/InsertAlbum" method="post">
                @Html.AntiForgeryToken()
                    <p>Album Name: <input type="text" name="tbxAlbumName"/></p>
                    <!-- Displays all artist in artist table, to prevent invalid data -->
                    <p>Artist: 
                        <select name="ddmArtist">
                            @foreach (Artist artist in @Model.Artists){
                                <option value="@artist.ArtistId">@artist.Name</option>
                            }
                        </select>
                    </p>

                    <input type="submit" value="Insert"/>
                </form>
            </section>
        </div>

        <!-- Creates a table and populates the data with albums -->
        <table border="1">
            <th>Album</th> <th>Artist</th> <th>&nbsp;</th> <th>&nbsp;</th>
            @foreach (ArtistAlbum album in @Model.ArtistAlbums){
                <tr>
                    <td>@album.Title</td>
                    <td>@album.Name</td>
                    <td>
                        <!-- Button to view more details about selected Album -->
                        <form action="~/Details" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="hdnAlbumID" value="@album.AlbumId"/>
                            <input type="submit" value="Details"/>
                        </form>
                    </td>
                </tr> 
            }
        </table>
    </body>
</html>